{% extends 'base.html.twig' %}

{% block body %}
<div  style="margin-top: -42px!important;">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Navigation -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Sliders -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="https://cdn.group.renault.com/ren/master/renault-new-cars/product-plans/megane-e-tech-electrique/banners/reveal-renault-megane-etech-electric-desktop.jpg.ximg.largex2.webp/92e512c897.webp" alt="Los Angeles" style="width:100%;">
        <div class="carousel-caption">
          <h3>Voitures d'ocasions</h3>
          <p>Créer un compte pour consulter notre catalogue</p>
          <a href="{{ path('inscription') }}"><button class="bouton button button1">Créer un compte</button></a>
        </div>
      </div>

      <div class="item">
        <img src="https://images.caradisiac.com/images/7/2/6/2/177262/S0-nouveau-bmw-x6-en-fuite-595947.jpg" alt="Chicago" style="width:100%; height:540px;">
        <div class="carousel-caption">
          <h3>Voitures d'ocasions</h3>
          <p>Créer un compte pour consulter notre catalogue</p>
          <a href="{{ path('inscription') }}"><button class="bouton button button1">Créer un compte</button></a>
        </div>
      </div>
    
      <div class="item">
        <img src="https://cdn.group.renault.com/ren/fr/home/zoe/Zoe_homepage_2560x1200px_desktop.jpg.ximg.largex2.webp/31d06495d2.webp" alt="New york" style="width:100%;">
        <div class="carousel-caption">
          <h3>Voitures d'ocasions</h3>
          <p>Créer un compte pour consulter notre catalogue</p>
          <a href="{{ path('inscription') }}"><button class="bouton button button1">Créer un compte</button></a>
        </div>
      </div>
    </div>

    <!-- Commandes gauche et droite -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

{% endblock %}
