{# Import du navbar #}
{% extends 'base.html.twig' %} 

{# Titre de la page #}
{% block title %} Mentions légales {% endblock %}

{# Début du corps de la page #}
{% block body %}
<!--  Style spécifique à cette page -->
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<!--  Contenu pour la page Cookies -->
<div class="example-wrapper">
    <h1>Mentions légales</h1><br/>

    <p>
      Veuillez lire attentivement les différentes conditions d'utilisation de ce site avant de parcourir ses pages. En vous connectant à ce site, vous acceptez sans réserve ces conditions générales. Par ailleurs, conformément à l'article n°6 de la loi n°2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique, les responsables de ce site https://jsgarage.com/ sont :

Editeur du site :

JSGARAGE – 32 Rue Félicien Rops, 91100 Corbeil Essonnes, France

Responsable éditorial : Js NKODIA

Email : contact@jsgarage.com

Hébergement

1&1 IONOS. 7 Place de la gare 57200 Sarreguemines FRANCE

Website : https://www.ionos.fr/

Développement :

1&1 IONOS. 7 Place de la gare 57200 Sarreguemines FRANCE

Website : https://www.ionos.fr/

Termes et conditions d'utilisation :

Ce site (https://jsgarage.com/) est proposé dans différents langages web (HTML, HTML5, Javascript, CSS, etc....) pour un meilleur confort d'utilisation et une conception graphique plus agréable, nous vous recommandons d'utiliser des navigateurs modernes tels que Internet explorer, Safari, Firefox, Google Chrome, etc... Les mentions légales ont été générées sur le site Legal Notice Generator, proposé par Welye. JSGARAGE met en œuvre tous les moyens à sa disposition pour assurer une information fiable et une mise à jour régulière de ses sites web. Toutefois, des erreurs ou omissions peuvent survenir. L'internaute doit donc s'assurer de l'exactitude des informations et signaler toute modification du site qu'il juge utile. JSGARAGE n'est en aucun cas responsable de l'usage qui pourrait être fait de ces informations, ni des dommages directs ou indirects qui pourraient en résulter.

Les cookies : Le site https://jsgarage.com/ peut vous demander d'accepter des cookies à des fins statistiques et d'affichage. Un cookie est un élément d'information déposé sur votre disque dur par le serveur du site que vous visitez. Il contient plusieurs données qui sont stockées sur votre ordinateur dans un simple fichier texte auquel un serveur accède pour lire et enregistrer des informations. Certaines parties de ce site ne peuvent pas fonctionner sans accepter les cookies.

Liens hypertextes : Les sites web de peuvent offrir des liens vers d'autres sites web ou d'autres ressources disponibles sur Internet. JSGARAGE ne dispose d'aucun moyen de contrôle des sites liés à ses sites web. JSGARAGE n'est pas responsable et ne garantit pas la disponibilité de ces sites et sources externes. Il ne peut être tenu responsable des dommages de toute nature résultant du contenu de ces sites ou sources externes, et notamment des informations, produits ou services qu'ils proposent, ou de l'utilisation qui pourrait être faite de ces éléments. Les risques liés à une telle utilisation incombent pleinement à l'internaute qui doit se conformer à leurs conditions d'utilisation. Les utilisateurs, abonnés et visiteurs des sites web de ne peuvent mettre en place un hyperlien en direction de ce site sans l'autorisation expresse et préalable de JSGARAGE. Dans l'hypothèse où un utilisateur ou un visiteur souhaiterait mettre en place un hyperlien en direction de l'un des sites de JSGARAGE, il lui appartiendra d'adresser un courrier électronique accessible sur le site afin de formuler sa demande de mise en place d'un hyperlien. JSGARAGE se réserve le droit d'accepter ou de refuser un hyperlien sans avoir à justifier sa décision.

Services proposés :

Toutes les activités de la société ainsi que ses informations sont présentées sur notre site web https://jsgarage.com/.

JSGARAGE s'efforce de fournir sur le site https://jsgarage.com/ des informations aussi précises que possible. Les informations sur le site https://jsgarage.com/ ne sont pas exhaustives et les photos ne sont pas contractuelles. Elles sont sujettes aux modifications qui ont été apportées depuis leur mise en ligne. Par ailleurs, toutes les informations indiquées sur le site https://jsgarage.com/ sont données à titre indicatif, et sont susceptibles d'être modifiées ou évoluées sans préavis.

Limitations contractuelles sur les données :

Les informations contenues sur ce site sont aussi précises que possible et le site est mis à jour à différentes périodes de l'année, mais peut contenir des inexactitudes ou des omissions. Si vous constatez une lacune, une erreur ou ce qui semble être un dysfonctionnement, veuillez le signaler par courrier électronique à l'adresse info@jsgarage.com, en décrivant le problème le plus précisément possible (page à l'origine du problème, type d'ordinateur et de navigateur utilisé, ...). Tout contenu téléchargé l'est aux risques et périls de l'utilisateur et sous sa seule responsabilité. En conséquence, il ne peut être tenu responsable des dommages causés à l'ordinateur de l'utilisateur ou de toute perte de données résultant du téléchargement. En outre, l'utilisateur du site s'engage à accéder au site en utilisant un matériel récent, exempt de virus et avec un navigateur de dernière génération mis à jour. Les liens hypertextes mis en place dans le cadre du présent site web en direction d'autres ressources présentes sur le réseau Internet, ne sauraient engager la responsabilité de la société JSGARAGE.

Propriété intellectuelle :

Tout le contenu des présentes sur le site https://jsgarage.com/, y compris, mais sans s'y limiter, les graphiques, images, textes, vidéos, animations, sons, logos, gifs et icônes ainsi que leur mise en forme sont la propriété exclusive de la société à l'exception des marques, logos ou contenus appartenant à d'autres sociétés partenaires ou auteurs. Toute reproduction, distribution, modification, adaptation, retransmission ou publication, même partielle, de ces différents éléments est strictement interdite sans l'accord exprès et écrit de JSGARAGE. Cette représentation ou reproduction, par quelque procédé que ce soit, constitue une contrefaçon sanctionnée par les articles L.335-2 et suivants du Code de la propriété intellectuelle. Le non-respect de cette interdiction constitue une contrefaçon pouvant engager la responsabilité civile et pénale du contrefacteur. En outre, les propriétaires des Contenus copiés pourraient engager des poursuites judiciaires à votre encontre.

Déclaration à la CNIL :

Conformément à la loi 78-17 du 6 janvier 1978 (modifiée par la loi 2004-801 du 6 août 2004 relative à la protection des personnes physiques à l'égard des traitements de données à caractère personnel) relative à l'informatique, aux fichiers et aux libertés, ce site n'a pas fait l'objet d'une déclaration auprès de la Commission nationale de l'informatique et des libertés (www.cnil.fr).

Litiges :

Les présentes conditions générales du site https://jsgarage.com/ sont régies par le droit français et tout litige ou différend qui pourrait naître de l'interprétation ou de l'exécution des présentes conditions générales sera de la compétence exclusive des tribunaux dont dépend le siège social de la société. La langue de référence, pour le règlement des éventuels litiges, est le français.

Données personnelles :

En général, vous n'êtes pas obligé de nous fournir vos données personnelles lorsque vous visitez notre site web https://jsgarage.com/. Toutefois, il existe quelques exceptions à ce principe. En effet, pour certains services offerts par notre site, vous pouvez être amené à nous communiquer certaines données telles que : votre nom, votre fonction, le nom de votre entreprise, votre adresse électronique et votre numéro de téléphone. C'est le cas lorsque vous remplissez le formulaire qui vous est proposé en ligne, dans la rubrique "contact". Dans tous les cas, vous pouvez refuser de fournir vos données personnelles. Dans ce cas, vous ne pourrez pas utiliser les services du site, notamment celui de demander des informations sur notre société, ni recevoir des lettres d'information. Enfin, nous pouvons recueillir automatiquement certaines informations vous concernant lorsque vous naviguez simplement sur notre site web, notamment : des informations sur l'utilisation de notre site, telles que les zones que vous visitez et les services auxquels vous accédez, votre adresse IP, le type de navigateur que vous utilisez et vos temps d'accès. Ces informations sont utilisées exclusivement à des fins statistiques internes, afin d'améliorer la qualité des services qui vous sont proposés. Les bases de données sont protégées par les dispositions de la loi du 1er juillet 1998 transposant la directive 96/9 du 11 mars 1996 relative à la protection juridique des bases de données.
    </p>

<br/><br/><br/>
</div>
{# Fin du corps de la page #}
{% endblock %}
