{# Import du navbar #}
{% extends 'base.html.twig' %} 

{# Titre de la page #}
{% block title %} Cookies {% endblock %}

{# Début du corps de la page #}
{% block body %}
<!--  Style spécifique à cette page -->
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<!--  Contenu pour la page Cookies -->
<div class="example-wrapper">
    <h1>Cookies</h1><br/>

    <p>
      Il s'agit de la politique en matière de cookies de JSGARAGE, accessible depuis jsgarage.com.

Que sont les cookies ?

Comme c'est la pratique courante avec presque tous les sites web professionnels, ce site utilise des cookies, qui sont de minuscules fichiers téléchargés sur votre ordinateur, pour améliorer votre expérience. Cette page décrit les informations qu'ils recueillent, comment nous les utilisons et pourquoi nous devons parfois stocker ces cookies. Nous vous expliquons également comment vous pouvez empêcher le stockage de ces cookies, mais cela peut entraîner une dégradation ou une " rupture " de certains éléments de la fonctionnalité du site.

Comment nous utilisons les cookies

Nous utilisons des cookies pour diverses raisons détaillées ci-dessous. Malheureusement, dans la plupart des cas, il n'existe pas d'options standard pour désactiver les cookies sans désactiver complètement la fonctionnalité et les caractéristiques qu'ils ajoutent à ce site. Il est recommandé de laisser tous les cookies activés si vous n'êtes pas sûr d'en avoir besoin ou non, au cas où ils seraient utilisés pour fournir un service que vous utilisez.

Désactiver les cookies

Vous pouvez empêcher l'installation de cookies en ajustant les paramètres de votre navigateur (voir l'aide de votre navigateur pour savoir comment procéder). Sachez que la désactivation des cookies affectera la fonctionnalité de ce site et de nombreux autres sites web que vous visitez. La désactivation des cookies entraîne généralement la désactivation de certaines fonctionnalités et caractéristiques de ce site. Il est donc recommandé de ne pas désactiver les cookies. Cette politique en matière de cookies a été créée avec l'aide du générateur de politique en matière de cookies de CookiePolicyGenerator.com.

Les cookies que nous mettons en place

Cookies liés au compte

Si vous créez un compte avec nous, alors nous utiliserons des cookies pour la gestion du processus d'inscription et l'administration générale. Ces cookies sont généralement supprimés lorsque vous vous déconnectez, mais dans certains cas, ils peuvent être conservés pour mémoriser vos préférences de site lorsque vous êtes déconnecté.

Cookies liés à la connexion

Nous utilisons des cookies lorsque vous êtes connecté afin de nous souvenir de ce fait. Cela vous évite de devoir vous connecter à chaque fois que vous visitez une nouvelle page. Ces cookies sont généralement supprimés ou effacés lorsque vous vous déconnectez afin de garantir que vous ne puissiez accéder qu'à des fonctions et des zones restreintes lorsque vous êtes connecté.

Cookies de tiers

Dans certains cas particuliers, nous utilisons également des cookies fournis par des tiers de confiance. La section suivante détaille les cookies tiers que vous pouvez rencontrer sur ce site.

Les analyses de tiers sont utilisées pour suivre et mesurer l'utilisation de ce site afin que nous puissions continuer à produire un contenu intéressant. Ces cookies peuvent suivre des éléments tels que le temps que vous passez sur le site ou les pages que vous visitez, ce qui nous aide à comprendre comment nous pouvons améliorer le site pour vous.

Plus d'informations

Nous espérons que cela a clarifié les choses pour vous et, comme mentionné précédemment, s'il y a quelque chose dont vous n'êtes pas sûr d'avoir besoin ou non, il est généralement plus sûr de laisser les cookies activés au cas où ils interagissent avec l'une des fonctions que vous utilisez sur notre site.

Pour des informations plus générales sur les cookies, veuillez lire l'article "Cookies" du Générateur de politiques de confidentialité.

Toutefois, si vous souhaitez obtenir plus d'informations, vous pouvez nous contacter par l'une de nos méthodes de contact préférées :

Courriel : info@jsgarage.com
Téléphone : 0783813956 
    </p>


<br/><br/><br/>
</div>
{# Fin du corps de la page #}
{% endblock %}
